


.navbarPanel_mobileBarSection{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7px;
  visibility: hidden;
}
.navbar_navbarMobile{
  position:static;
  display: flex;
  flex-direction: row;
}



/* Media query section */

@media screen and (max-width: 768px) {
    .navbarPanel_mobileBarSection{
      color: blue;
    }
    .navbar_navbarMobile{
      flex-direction: column;
      align-items: center;
    }
}